<!-- ToolBar -->
<mat-toolbar class="toolbar">
  <!-- left side hamburger menu-->
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <!-- Main Title -->
  <span class="title">Performance Management Application</span>
  <!--count down -->
  <span class="example-spacer"></span>
  <span class="countdown">
    {{ message }} <br />
    for stage-{{ onGoingStage.stageNumber }} completion
  </span>
  <mat-icon class="i">timer</mat-icon>
  <!-- icon menu-->
  <button
    mat-icon-button
    [matMenuTriggerFor]="beforeMenu"
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <span id="nameIcon" class="material-icons"> person </span>
  </button>
  <!-- menu on clicking icon -->
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>{{ userData.email }}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>Log out</span>
    </button>
  </mat-menu>
</mat-toolbar>

<!-- Side Navigation + Content -->
<mat-drawer-container class="example-container">
  <!-- side drawer -->
  <mat-drawer mode="side" opened #sidenav>
    <h3 class="whitecolor">
      <mat-icon class="i">dashboard</mat-icon> Dashboard
    </h3>
    <hr />
    <h3 class="whitecolor"><mat-icon class="i">language</mat-icon>Appraisal</h3>
    <!-- stages -->
    <ng-container *ngFor="let stage of stagesData">
      <h4
        [ngClass]="{
          whitecolor: stage.isCompleted === 1 || stage.isCompleted === 0
        }"
      >
        Stage {{ stage.stageNumber }}
      </h4>
      <mat-icon
        id="clock"
        class="clock"
        [ngClass]="{
          whitecolor: stage.isCompleted === 1 || stage.isCompleted === 0
        }"
        >schedule</mat-icon
      >
      <span
        *ngIf="stage.stageNumber != onGoingStage.stageNumber"
        class="datefont"
        [ngClass]="{
          whitecolor: stage.isCompleted === 1 || stage.isCompleted === 0
        }"
      >
        {{ stage.startDate | date: "dd'th' MMM" }} -
        {{ stage.endDate | date: "dd'th' MMM" }}
      </span>
      <span
        *ngIf="stage.stageNumber === onGoingStage.stageNumber"
        class="datefont"
        [ngClass]="{ whitecolor: stage.isCompleted === 0 }"
      >
        {{ message }}
      </span>

      <!-- taks in stages -->
      <ul>
        <li
          *ngFor="let task of stage.tasks"
          [ngClass]="{
            whitecolor: stage.isCompleted === 1 || stage.isCompleted === 0
          }"
          class="li"
        >
          <mat-icon *ngIf="!task.isCompleted" class="li">stop_circle</mat-icon
          ><mat-icon *ngIf="task.isCompleted" class="li"
            >check_circle_outline</mat-icon
          >{{ task.name }}
        </li>
      </ul>
    </ng-container>
    <hr />
    <!-- previous appraisal -->
    <h3 class="whitecolor appraisal">
      <mat-icon class="i">history</mat-icon>Previous Appraisal
    </h3>
  </mat-drawer>

  <!-- Main Content -->
  <mat-drawer-content>
    <!-- Main content Header -->
    <header class="bluecolor">Dashboard</header>
    <!-- Stages component  -->
    <div class="grid">
      <ng-container *ngFor="let stage of stagesData">
        <app-stage [stageData]="stage"></app-stage>
      </ng-container>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
